<div class="auth-page">
    <div class="auth-page__content-block">
      <div class="auth-page__content-wrapper">
        <mat-tab-group class="auth-page__group">
          <mat-tab label="Login">
            <h4 class="auth-page__group-title">Bonjour</h4>
  
            <div class="auth-page__border-wrapper">
              <div class="auth-page__border-line"></div>
              <div class="auth-page__border-line"></div>
            </div>
  
            <app-form-login (sendLoginForm)="sendLoginForm()"></app-form-login>
  
          </mat-tab>
        </mat-tab-group>
  
        <p class="auth-page__footer-title">© {{todayDate | year}} <a href="">CNI</a></p>
      </div>
    </div>
    <div class="auth-page__logo">
      <div class="auth-page__logo-wrapper">
        <img class="auth-page__logo-img" src="" alt="logo">
        <h6 class="auth-page__logo-title">CNI</h6>
      </div>
    </div>
  </div>
