<mat-nav-list>
  <h2 matSubheader class="mt-2">Menu</h2>

  <mat-list-item routerLink="{{routes.DASHBOARD}}" routerLinkActive="active">
    <mat-icon>dashboard</mat-icon> dashboard
  </mat-list-item>
  <mat-list-item routerLink="{{routes.EMPLOYEE}}" routerLinkActive="active">
    <mat-icon>face</mat-icon> cosulter les employées
  </mat-list-item>
  <mat-list-item routerLink="{{routes.GROUP}}" routerLinkActive="active">  
    <mat-icon>people</mat-icon> cosulter les groupes 
  </mat-list-item>
  <mat-list-item routerLink="{{routes.STRUCTURE}}" routerLinkActive="active"> 
    <mat-icon>account_balance</mat-icon> cosulter les structures 
  </mat-list-item>
  <mat-list-item routerLinkActive="list-item-active" routerLink="/affecter"> 
    <mat-icon>group_add</mat-icon> affecter à un group 
  </mat-list-item>

</mat-nav-list>




